/* reset */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    list-style: none;
    text-decoration: none;
}

/* general */

body{
    font-family:'noto sans', sans-serif;
}

.debug{
    border: 1px red solid;
}

.flex{
    display: flex;
}

.flex-end{
    justify-content: flex-end;
}

.spacearound{
    justify-content:space-around;
}

.spacebtw{
    justify-content: space-between;
}

header{
    width: 100%;
    height: 40px;
}

#speak{
    /* padding-right: 10px; */
}
/* bodyy */

#app{
    max-width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
}

/* mainnn */

main{
    height: calc(100% - 100px);
    overflow-y:auto ;
}
/* toolbar */

#toolbar{
   height: 60px;
    
}
